/**
 * App transform classes
 * 
 */

/**
 * Align
 * 
 */
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}

/**
 * Margins, paddings
 * 
 */
// .m-0  { margin: 0; }
// .mb-0 { margin-bottom: 0; }
// .mt-0 { margin-top: 0; }

// .p-0  { padding: 0; }
// .pb-0 { padding-bottom: 0; }
// .pt-0 { padding-top: 0; }

// Размеры текста
// .txt-xl { font-size: 0px; }
// .txt-lg { font-size: 0px; }
// .txt-md { font-size: 0px; }
// .txt-sm { font-size: 0px; }
// .txt-xs { font-size: 0px; }

/**
 * SVG, IMG
 * 
 */
.svg-icon,
.img-icon {
  fill: currentColor;
  vertical-align: middle;
}

/**
 * Other
 * 
 */
.no-br {
  white-space: nowrap;
}
.bg-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}