// Colors
$white: #fff;
$black: #222;
$grey: #bbb;
$accent: #fa0;
$primary: #fa0;

// Fonts
$baseFont: 'OpenSans', Arial, sans-serif;

// Transitions
$trs: .15s;

// Bootstrap-grid
$grid-breakpoints: (
  xs: 0, // 0-575
  sm: 576px, // 576-767
  md: 768px, // 768-991
  lg: 992px, // 992-1279
  xl: 1280px, // 1280-...
  // xxl: 1440px,
  // xxxl: 1920px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px,
  // xxl: 1380px,
  // xxxl: 1720px
);

$grid-columns: 12;
$grid-gutter-width: 30px;

// Bootstrap
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins/breakpoints';